    <div class="ui inverted black footer vertical segment">
        <div class="container">
            <div class="ui stackable inverted divided container grid">
                <div class="eight wide column">
                    <h3 class="ui inverted header">What is RemoteShark?</h3>
                    <p>RemoteShark is a job board for Filipino freelancers.</p>
                    <a href="https://remoteshark.groovehq.com/help_center" class="ui teal button">FAQ</a>
                </div>
                <div class="four wide column">
                    <h5 class="ui teal inverted header">Links</h5>
                    <div class="ui inverted link list">
                        <a class="item" href=".">Home</a>
                        <a class="item" href="marketplace">Marketplace</a>
                        <a class="item" hred="board">Job board</a>
                        <a class="item" href="https://remoteshark.groovehq.com/help_center">FAQ / Support / Contact</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h5 class="ui teal inverted header">We're Social</h5>
                    <div class="ui inverted link list">
                        <div class="item" href="">
                            <a href="//facebook.com/remoteshark"><i class="large facebook icon"></i></a>
                            <a href="//twitter.com/remoteshark"><i class="large twitter icon"></i></a>
                            <a href="mailto:hello@remoteshark.com"><i class="large mail icon"></i></a>
                        </div>
                        <div class="item">Made with <span class="inline"></span> <i class="heart icon"></i> by <a href="#">Dynamity</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
