        <div class="ui inverted fixed menu">
            <div class="ui container grid">
                <div class="mobile only row">
                    <div class="column">
                        <div class="ui inverted menu">
                            <a href="." class="item">
                             <img src="media/images/logo-small.png">
                            </a>
                            <a href="marketplace" class="item">Marketplace</a>
                            <a class="item">Job board</a>
                            <div class="ui dropdown item">
                                <i class="ellipsis horizontal icon"></i>
                                <div class="inverted menu">
                                    <a href="signup" class="item">Sign up</a>
                                    <a href="login" class="item">Log in</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tablet only computer only row">
                    <div class="column">
                        <div class="ui inverted menu">
                            <a href="." class="item">
                                <img src="media/images/logo-small.png">
                            </a>
                            <a href="marketplace" class="item">Marketplace</a>
                            <a class="item">Job board</a>
                            <div class="right menu">
                                <a href="login" class="item">Log in</a>
                                <div class="item">
                                    <a href="signup" class="ui inverted button">Sign up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
