<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{> partials/base}} 
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css">
    <link rel="stylesheet" href="media/style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>
<body>
    {{> partials/menu}}

    <div class="ui page grid main">
        <div class="row">
            <div class="column">
            <form class="ui form" method="post">
               <h1 class="ui dividing header">Add Developer</h1>
                   <div class="required field">
                     <label>Name</label>
                     <div class="ui icon input">
                       <input type="text" placeholder="Name" name="name" autofocus required>
                     </div>
                   </div>
                   <div class="required field">
                     <label>Username</label>
                     <div class="ui icon input">
                       <input type="text" placeholder="Username" name="username" required>
                     </div>
                   </div>
                   <div class="required field">
                     <label>Password</label>
                     <div class="ui icon input">
                       <input type="password" placeholder="Password" name="password" required>
                     </div>
                   </div>
                   <button class="ui button teal">Submit</button>
            </form>
            </div>

        </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.right.menu.open').on("click",function(e){
            e.preventDefault();
            $('.ui.vertical.menu').toggle();
        });
        
        $('.ui.dropdown').dropdown();
    });
    </script>
</body>
</html>
