<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{> partials/base}} 
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="media/vendor/semantic-ui/semantic.min.css">
    <link rel="stylesheet" href="media/style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>
<body>
    {{> partials/menu}}

    <div class="ui page grid main">
        {{#developer}}
        <div class="row">
            <div class="column">
            <form class="ui form">
               <h2 class="ui dividing header">{{getName}} ({{getUsername}})</h4>
                  <div class="two fields">
                    <div class="field">
                      <label>Username</label>
                      <div class="ui transparent input">
                        <input type="text" placeholder="Username" value="{{getUsername}}" readonly />
                      </div>
                    </div>
                    <div class="field">
                      <label>Task Progress</label>
                <div class="ui indicating demo progress active" data-percent="40">
                  <div class="bar" style="-webkit-transition-duration: 300ms; transition-duration: 300ms; width: 40%;"></div>
                  <div class="label">40% Done</div>
                </div>
                    </div>
                  </div>
            </form>


            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui indicating demo progress active" data-percent="40">
                  <div class="bar" style="-webkit-transition-duration: 300ms; transition-duration: 300ms; width: 40%;"></div>
                  <div class="label">40% Done</div>
                </div>
            </div>
        </div>
        {{/developer}}
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="media/vendor/jquery/jquery-1.11.3.min.js"></script>
    <script src="media/vendor/semantic-ui/semantic.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.right.menu.open').on("click",function(e){
            e.preventDefault();
            $('.ui.vertical.menu').toggle();
        });
        
        $('.ui.dropdown').dropdown();
    });
    </script>
</body>
</html>
