<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{> partials/base}}
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="media/images/favicon.png" />
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.0.0/semantic.min.css">
    <link rel="stylesheet" href="media/style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>
<body>
    {{> partials/menu}}

    <div class="ui container grid main">
        <div class="row">
            <div class="column">
                <h1>Frequently asked questions</h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div id="faqMenu" class="ui stackable grid">
                  <div class="four wide column">
                    <div class="ui vertical pointing menu">
                      <a class="item active" aria-faq="freelancerFaqs">Freelancers</a>
                      <a class="item" aria-faq="employerFaqs">Employers</a>
                    </div>
                  </div>
                  <div class="twelve wide stretched column">
<div id="freelancerFaqs" class="ui fluid accordion faq">
  <div class="title active">
    I am not Filipino, can I sign up as a freelancer?
  </div>
  <div class="content active">
    <p class="transition visible">No you cannot. RemoteShark is exclusively for Filipino freelancers.</p>
  </div>
  <div class="title active">
    Will putting up my profile cost me anything?
  </div>
  <div class="content active">
    <p class="transition visible">Not a centavo.</p>
  </div>
  <div class="title active">
    How is this different from Upwork/Freelancer?  
  </div>
  <div class="content active">
    <p class="transition visible">RemoteShark is more freelancer-centered. Freelancers are able to put up a profile where they can show off their work.</p>
    <p>We also discourage low-balling when bidding for a project. We believe Filipinos product quality work and thus be paid reasonably.</p>
  </div>
  <div class="title active">
    How does the rating system work?
  </div>
  <div class="content active">
    <p class="transition visible">Freelancers are given positive reputation upon registration. If an employer is not happy with the freelancer then employer may decrease the reputation of the freelancer by giving a “thumbs down”. This allows equal opportunities for the newer freelancers for finding clients.</p>
    <p>Same rating system also applies to employers</p>
  </div>
  <div class="title active">
    I was unfairly given a low rating what do I do?
  </div>
  <div class="content active">
    <p class="transition visible">Users who are given negative ratings will be allowed to justify with an explanation. Although you need to be prepared to provide proof.</p>
  </div>
</div>
<div id="employerFaqs" class="ui fluid accordion hidden faq">
  <div class="title active">
    I am not Filipino, can I put up a job post?
  </div>
  <div class="content active">
    <p class="transition visible">Employers need not be Filipino to put up a job post.</p>
  </div>
  <div class="title active">
    Still not Filipino, can I contact a freelancer from the marketplace?
  </div>
  <div class="content active">
    <p class="transition visible">Go right ahead.</p>
  </div>
  <div class="title active">
    Will putting up a job post cost me anything?
  </div>
  <div class="content active">
    <p class="transition visible">Not a penny.</p>
  </div>
  <div class="title active">
    How does the rating system work?
  </div>
  <div class="content active">
    <p class="transition visible">Freelancers are given positive reputation upon registration. If an employer is not happy with the freelancer then employer may decrease the reputation of the freelancer by giving a “thumbs down”. This allows equal opportunities for the newer freelancers for finding clients.</p>
    <p>Same rating system also applies to employers</p>
  </div>
  <div class="title active">
    How credible are the freelancers listed here?
  </div>
  <div class="content active">
    <p class="transition visible">We will be requiring verifications from the freelancers soon. But as of now, you will have to rely on their ratings.</p>
  </div>
</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.0.0/semantic.min.js"></script>
    <script src="media/libraries/typed.js/dist/typed.min.js"></script>
    </script>
    <script>
    $(document).ready(function(){
        $('.right.menu.open').on("click",function(e){
            e.preventDefault();
            $('#mainMenu .ui.vertical.menu').toggle();
        });

        $('.ui.dropdown').dropdown();
        $('#faqMenu .item').click(function(e){
            e.preventDefault();
            var target = $(e.target);
            $('.faq').addClass('hidden');
            $('#faqMenu .item').removeClass('active');
            target.addClass('active');
            var targetSegment = $('#' + target.attr('aria-faq'));
            targetSegment.removeClass('hidden');
        });
    });
    </script>
</body>
</html>
