<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{> partials/base}}
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="media/images/favicon.png" />
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.0.0/semantic.min.css">
    <link rel="stylesheet" href="media/style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>
<body>
    {{> partials/menu}}

    <div class="ui grid landing">
        <div class="row">
            <div class="center aligned column">
                <h1 class="ui inverted header">A job board for the Filipino freelancer</h1>
            </div>
        </div>
        <div class="row">
           <div class="centered column">
               <div class="ui container grid">
                    <div class="stackable two column row">
                        <div class="center aligned centered column">
                            <a href="signup/freelancer" class="ui massive teal button">
                                Work
                            </a>
                        </div>
                        <div class="ui inverted vertical divider">or</div>
                        <div class="center aligned centered column">
                            <a href="signup/employer" class="ui massive orange button">
                                Hire
                            </a>
                        </div>
                    </div>
               </div>
           </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a href="https://remoteshark.groovehq.com/help_center" class="ui inverted header"><h5>Find out more</h5></a>
            </div>
        </div>
    </div>
    <div class="ui container grid home">
        <div class="row">
            <div class="left aligned column">
                <h2>Why get a Filipino freelancer?</h2>
            </div>
        </div>
        <div class="ui stackable three column row">
            <div class="center aligned column">
                <div class="ui statistic home">
                    <div class="value">
                        <i class="trophy icon"></i>
                    </div>
                    <div class="label">
                      Skills and Talent
                    </div>
                </div>
                <div class="row">
                    <div class="ui left aligned column">
                        <p>Filipinos offer a unique <a href="http://www.bloomberg.com/bw/stories/2006-09-18/the-philippines-awesome-outsourcing-opportunity">talent pool</a> for outsourcing services.                        </p>
                    </div>
                </div>
            </div>
            <div class="center aligned column">
                <div class="ui statistic home">
                    <div class="value">
                        <i class="comments icon"></i>
                    </div>
                    <div class="label">
                      English speakers
                    </div>
                </div>
                <div class="row">
                    <div class="ui left aligned column">
                        <p>Filipinos been taught English since grade school. A lot of us speak it everyday. You can expect relatively smoother communications with Filipino freelancers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="center aligned column">
                <div class="ui statistic home">
                    <div class="value">
                        <i class="dollar icon"></i>
                    </div>
                    <div class="label">
                      Reasonable Rates
                    </div>
                </div>
                <div class="row">
                    <div class="ui left aligned column">
                        <p>The cost of living here is lower compared to other countries. We don’t ask for too much but don’t pay us in measly pennies. You still get what you pay for.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui container grid home">
        <div class="two column row stackable">
            <div class="twelve wide column">
                <h2>Find that perfect <span id="freelancerType" class="typed"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui four stackable cards">
                    <div class="ui card">
                        <a class="image">
                            <img src="media/images/avatar.png">
                        </a>
                        <div class="content">
                            <a class="header">
                                <img src="http://lorempixel.com/48/48/people/?32240" class="mini ui rounded image">
                                Blanche Heaney</a>
                            <div class="meta">
                            </div>
                            <div class="description">
                                <div class="ui label">
                                    murazik
                                </div>
                                <div class="ui label">
                                    leuschke
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                        </div>
                    </div>
                    <div class="ui card">
                        <a class="image">
                            <img src="media/images/avatar.png">
                        </a>
                        <div class="content">
                            <a class="header">
                                <img src="http://lorempixel.com/48/48/people/?66003" class="mini ui rounded image">
                                Rasheed Koepp Sr.</a>
                            <div class="meta">
                            </div>
                            <div class="description">
                                <div class="ui label">
                                    hilll
                                </div>
                                <div class="ui label">
                                    boyer
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                        </div>
                    </div>
                    <div class="ui card">
                        <a class="image">
                            <img src="media/images/avatar.png">
                        </a>
                        <div class="content">
                            <a class="header">
                                <img src="http://lorempixel.com/48/48/people/?78008" class="mini ui rounded image">
                                Prof. Kale Lueilwitz</a>
                            <div class="meta">
                            </div>
                            <div class="description">
                                <div class="ui label">
                                    lebsack
                                </div>
                                <div class="ui label">
                                    borer
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                        </div>
                    </div>
                    <div class="ui card">
                        <a class="image">
                            <img src="media/images/avatar.png">
                        </a>
                        <div class="content">
                            <a class="header">
                                <img src="http://lorempixel.com/48/48/people/?86762" class="mini ui rounded image">
                                Laurianne Weissnat</a>
                            <div class="meta">
                            </div>
                            <div class="description">
                                <div class="ui label">
                                    bernier
                                </div>
                                <div class="ui label">
                                    wehner
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="right aligned column">
                <a href="marketplace" class="ui teal button">Visit marketplace</a>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui container grid home">
        <div class="stackable two column row">
            <div class="column">
                <h2>The plain ol' job board</h2>
            </div>
            <div class="right aligned column">
                <a href="board" class="ui primary button">Go to job board</a>
            </div>
        </div>
        <div class="two column stackable row">
            <div class="column featured">
              <div class="ui items">
                    <div class="item">
                        <div class="content">
                            <div class="meta">
                                <span class="ui right floated time">
                                  2 hours ago
                                </span>
                            </div>
                            <a class="header">Uber Clone</a>
                            <div class="description">
                                <div class="ui rounded image">
                                  <img  src="media/images/placeholder.jpg"/>
                                  <a class="ui teal ribbon label">Featured</a>
                                </div>
                                <p>Kielbasa doner shoulder flank. Doner fatback beef ribs, pork belly pancetta pork chop ball tip rump ham hock. Ground round t-bone boudin tongue. Porchetta spare ribs tongue short loin meatball venison drumstick rump jerky tail pork filet mignon. Ribeye tail strip steak ball tip shoulder pork belly.</p>
                            </div>
                            <div class="extra">
                                <div class="ui label">PHP</div>
                                <div class="ui label">MySql</div>
                                <div class="ui label">HACK</div>
                                <a href="#" class="ui floated right"><i class="arrow circle right icon"></i>Details</a>
                            </div>
                        </div>
                    </div>
              </div>
            </div>
            <div class="column">
                <div class="ui divided items">
                    <div class="item">
                        <div class="content">
                            <div class="meta">
                                <span class="ui right floated time">2 hours ago</span>
                            </div>
                            <a class="header">Facebook Clone</a>
                            <div class="description">
                                <p>Kielbasa doner shoulder flank. Doner fatback beef ribs, pork belly pancetta pork chop ball tip rump ham hock. Ground round t-bone boudin tongue. Porchetta spare ribs tongue short loin meatball venison drumstick rump jerky tail pork filet mignon. Ribeye tail strip steak ball tip shoulder pork belly.</p>
                            </div>
                            <div class="extra">
                                <div class="ui label">PHP</div>
                                <div class="ui label">MySql</div>
                                <div class="ui label">HACK</div>
                                <a href="#" class="ui floated right"><i class="arrow circle right icon"></i>Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="meta">
                                <span class="ui right floated time">2 hours ago</span>
                            </div>
                            <a class="header">Twitter Clone</a>
                            <div class="description">
                                <p>Kielbasa doner shoulder flank. Doner fatback beef ribs, pork belly pancetta pork chop ball tip rump ham hock. Ground round t-bone boudin tongue. Porchetta spare ribs tongue short loin meatball venison drumstick rump jerky tail pork filet mignon. Ribeye tail strip steak ball tip shoulder pork belly.</p>
                            </div>
                            <div class="extra">
                                <div class="ui label">Scala</div>
                                <div class="ui label">Postgres</div>
                                <div class="ui label">Redis</div>
                                <div class="ui label">Bootstrap</div>
                                <a href="#" class="ui floated right"><i class="arrow circle right icon"></i>Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> partials/footer.mustache}}
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script src="media/libraries/typed.js/dist/typed.min.js"></script>

    </script>
    <script>
    $(document).ready(function(){
        $('.right.menu.open').on("click",function(e){
            e.preventDefault();
            $('.ui.vertical.menu').toggle();
        });

        $('.ui.dropdown').dropdown();
        $('.ui.checkbox')
          .checkbox()
        ;
    });
    </script>
    <script>
    function isElementInViewport (el) {

        //special bonus for those using jQuery
        if (typeof jQuery === "function" && el instanceof jQuery) {
            el = el[0];
        }

        var rect = el.getBoundingClientRect();

        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /*or $(window).height() */
            rect.right <= (window.innerWidth || document.documentElement.clientWidth) /*or $(window).width() */
        );
    }

    function onVisibilityChange (el, callback) {
        return function () {
          if (isElementInViewport(el)) {
            callback();
          }
        }
    }

    var handler = onVisibilityChange($('#freelancerType'), function(){
          $('#freelancerType.typed').typed({
            strings: ["designer", "developer", "writer", "freelancer"],
            typeSpeed: 0
          });
    });


    //jQuery
    $(window).on('DOMContentLoaded load resize scroll', handler)
    </script>
</body>
</html>
