<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <base href="http://localhost:8888/estimator/">
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="media/images/favicon.png" />
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="media/vendor/semantic-ui/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <style>
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}

.ui.grid.main{
    margin-top: 70px;
}


.mobile.row{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
    border-radius: 0px !important;
}

.padding-reset{
    padding: 0px !important;
}

.ui.message{
    padding: 40px !important;
}

@media (max-width: 767px) {
    .ui.grid.main{
        margin-top: 70px;
    }
    .ui.vertical.menu.navbar{
        margin-top: 0px !important;
    }
}

.ui.vertical.menu{
    margin-top: -15px !important;
    width: 100%;
    display: none;
}
    </style>
    <!-- endbuild -->
</head>
<body>

    <div class="ui grid">
        <div class="computer tablet only row">
            <div class="ui inverted fixed menu navbar page grid">
                <a href="" class="brand item">Project Name</a>
                <a href="" class="active item">Home</a>
                <a href="" class="item">About</a>
                <a href="" class="item">Contact</a>
                <a class="ui dropdown item">Dropdown
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">Action</div>
                    <div class="item">Another action</div>
                    <div class="item">Something else here</div>
                    <div class="ui divider"></div>
                    <div class="item">Seperated link</div>
                    <div class="item">One more seperated link</div>
                  </div>
                </a>
                <div class="right menu">
                    <a href="" class="active item">Default</a>
                    <a href="" class="item">Static top</a>
                    <a href="" class="item">Fixed top</a>
                </div>
            </div>
        </div>
        <div class="mobile only row">
            <div class="ui fixed inverted navbar menu">
                <a href="" class="brand item">Project Name</a>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i class="reorder icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui vertical navbar menu">
                <a href="" class="active item">Home</a>
                <a href="" class="item">About</a>
                <a href="" class="item">Contact</a>
                <div class="ui item">
                    <div class="text">Dropdown</div>
                    <div class="menu">
                        <a class="item">Action</a>
                        <a class="item">Another action</a>
                        <a class="item">Something else here</a>
                        <a class="ui aider"></a>
                        <a class="item">Seperated link</a>
                        <a class="item">One more seperated link</a>
                      </div>
                </div>
                <div class="menu">
                    <a href="" class="active item">Default</a>
                    <a href="" class="item">Static top</a>
                    <a href="" class="item">Fixed top</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui page grid main">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui large message">
                    <h1 class="ui huge header">Hello {{name}}</h1>
                    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                    <p>To see the difference between static and fixed top navbars, just scroll.</p>
                    <a href="" class="ui blue button">View navbar docs &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="media/vendor/jquery/jquery-1.11.3.min.js"></script>
    <script src="media/vendor/semantic-ui/semantic.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.right.menu.open').on("click",function(e){
            e.preventDefault();
            $('.ui.vertical.menu').toggle();
        });

        $('.ui.dropdown').dropdown();
    });
    </script>
</body>
</html>
