<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{> partials/base}}
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.0.0/semantic.min.css">
    <link rel="stylesheet" href="media/style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>
<body>
    {{> partials/menu}}

    <div class="ui page grid main">
        <div class="row">
            <div class="column">
                <div class="ui fluid action input">
                    <input type="text" placeholder="Search..." autofocus>
                    <div class="ui button">Search</div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="ui label">PHP<i class="delete icon"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui four stackable cards">
                    {{#developers}}

                    <div class="ui card">
                        <a class="image">
                            <img src="media/images/avatar.png">
                        </a>
                        <div class="content">
                            {{#lowRated}}
                                <a class="ui right red corner label">
                                        <i class="thumbs down icon"></i>
                                </a>
                            {{/lowRated}}
                            <a class="header">
                                <img src="{{imageUrl}}" class="avatar">
                                {{name}}</a>
                            <div class="meta">
                            </div>
                            <div class="description">
                                {{#skillSet}}
                                    <div class="ui label">
                                        {{skill}}
                                    </div>
                                {{/skillSet}}
                            </div>
                        </div>
                        <div class="extra content">
                        </div>
                    </div>
                    {{/developers}}
                </div>
            </div>
        </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>

    <script>
    $(document).ready(function(){
        $('.right.menu.open').on("click",function(e){
            e.preventDefault();
            $('.ui.vertical.menu').toggle();
        });

        $('.ui.dropdown').dropdown();
        $('.ui.checkbox')
          .checkbox()
        ;
    });
    </script>
</body>
</html>
