<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{> partials/base}}
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="media/images/favicon.png" />
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.0.0/semantic.min.css">
    <link rel="stylesheet" href="media/style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>
<body>
    {{> partials/menu}}

    <div class="ui container grid main">
        <div class="one column row">
            <div class="ui eight wide centered column center aligned">
                <h1>Log in to RemoteShark</h1>
            </div>
        </div>
        <div class="one column row">
            <div class="ui twelve wide centered column right aligned">
                <div class="ui two column middle aligned relaxed fitted stackable grid">
                  <div class="column">
                    <div class="ui form segment">
                      <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                          <input type="text" placeholder="Username">
                          <i class="user icon"></i>
                        </div>
                      </div>
                      <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                          <input type="password">
                          <i class="lock icon"></i>
                        </div>
                      </div>
                      <div class="ui blue submit button">Login</div>
                    </div>
                  </div>
                  <div class="ui vertical divider">
                    Or
                  </div>
                  <div class="center aligned column">
                      <div class="ui vertical buttons">
                        <div class="ui facebook button">
                          <i class="facebook icon"></i>
                          Sign up with Facebook
                        </div>
                        <div class="ui twitter button">
                          <i class="twitter icon"></i>
                          Twitter
                        </div>
                        <div class="ui google plus button">
                          <i class="google plus icon"></i>
                          Google Plus
                        </div>
                        <div class="ui linkedin button">
                          <i class="linkedin icon"></i>
                          Sign up with LinkedIn
                        </div>
                      </div>
                    <div class="huge green ui labeled icon button">
                      <i class="signup icon"></i>
                      Sign Up
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    {{> partials/footer.mustache}}
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script src="media/libraries/typed.js/dist/typed.min.js"></script>
    </script>
    <script>
    $(document).ready(function(){
        $('.right.menu.open').on("click",function(e){
            e.preventDefault();
            $('.ui.vertical.menu').toggle();
        });

        $('.ui.dropdown').dropdown();
        $('.ui.checkbox')
          .checkbox()
        ;
    });
    </script>
</body>
</html>
