<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{> partials/base}}
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="media/images/favicon.png" />
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.0.0/semantic.min.css">
    <link rel="stylesheet" href="media/style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>
<body>
    {{> partials/menu}}

    <div class="ui container grid main">
        <div class="one column row">
            <div class="ui eight wide centered column center aligned">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="one column row">
            <div class="ui eight wide computer sixteen wide mobile centered column">
                <form class="ui large form">
                    <div class="required field">
                        <label>First Name</label>
                        <input type="text"/>
                    </div>
                    <div class="required field">
                        <label>Last Name</label>
                        <input type="text"/>
                    </div>
                    <div class="required field">
                        <label>Email</label>
                        <input type="text"/>
                    </div>
                    <div class="required field">
                        <label>Password</label>
                        <input type="password"/>
                    </div>
                    <div class="field">
                        <sub>By Signing up, you agree to our Terms and Conditions.</sub>
                    </div>
                    <button class="ui large teal submit button">Sign up</button>
                </form>
            </div>
        </div>
    </div>
    {{> partials/footer.mustache}}
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script src="media/libraries/typed.js/dist/typed.min.js"></script>
    </script>
    <script>
    $(document).ready(function(){
        $('.right.menu.open').on("click",function(e){
            e.preventDefault();
            $('.ui.vertical.menu').toggle();
        });

        $('.ui.dropdown').dropdown();
        $('.ui.checkbox')
          .checkbox()
        ;
    });
    </script>
</body>
</html>
