*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}

.mobile.row .ui.inverted.menu{
    border-radius: 0px !important;
}

.ui.grid.main{
    margin-top: 70px;
}

.padding-reset{
    padding: 0px !important;
}

@media (max-width: 767px) {
    .ui.grid.main{
        margin-top: 70px;
    }
}
@media (max-width: 497px) {
    #freelancerType{
        display: block;
        width: 100%;
        height: 44px;
    }
    .typed-cursor {
        display: none;
    }
}

h1.ui.header {
    font-size: 4em;
}
.ui.button sub {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 0.6em;
}
.landing {
    padding-top:10% !important;
    padding-bottom:10% !important;
    background: url("images/landing.jpg") top;
    background-color: #333;
    background-size: cover;
}
@media (max-width: 497px) {
    .landing {
        padding-top:25% !important;
    }
}
.container.grid.home{
    padding-top: 5%;
    padding-bottom: 5%;
}

.container.grid.home h2{
    font-size: 2.5rem;
}
.container.grid.home .ui.items .item .content .description{
    max-width: none;
}
.footer {
    margin-top: 5% !important;
    padding-top:5% !important;
    padding-bottom:10% !important;
    background: url("images/landing.jpg") 50% 50%;
    background-color: #333;
    background-size: cover;
    visibility: visible !important;
    position: sticky !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.footer .ui.list .list>.item>i.icon, .ui.list>.item>i.icon {
    display: inline;
}
.ui.statistic.home .value + .label {
   font-size: 1.5em;
   text-transform: none !important;
}
.home .items .item .extra a {
    font-size:0.85em;
    float:right;
}
.landing a.header {
    text-decoration: underline;
    font-size: 0.9em !important;
    font-weight: normal !important;
}
/**
 * FAQ ITEMS
 */
.ui.fluid.accordion .title.active {
    font-size: 1.5em;
}
.ui.fluid.accordion .content.active p {
    padding-left: 3em;
}

.ui.fluid.accordion .content:not(:last-child) {
    border-bottom: #eee solid 1px;
}
.faq.hidden {
    display:none;
}
